<div>
    <div style="width: 95%; margin: auto">
        <table id="studentAttendanceTable" class="display cell-border" style="width: 100%; text-align: center">
            <thead class="table-success">
                <tr>
                    <th>Semestr</th>
                    <th>Usprawiedliwione obecności</th>
                    <th>Nieusprawiedliwione obecności</th>
                    <th>Spóźnienia</th>
                </tr>
            </thead>
            <tbody>
                {% for a in attendance %}
                    <tr>
                        <td>{{ a.semester }}</td>
                        <td>{{ a.legitimate }}</td>
                        <td>{{ a.illegitimate }}</td>
                        <td>{{ a.lateAttendance }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
{#                    <td colspan="4" style="text-align: center"></td>#}
                    <th colspan="1" style="text-align: center">Średnia:</th>
                    <th colspan="1" style="text-align: center"></th>
                    <th colspan="1" style="text-align: center"></th>
                    <th colspan="1" style="text-align: center"></th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>