<div>
    <h5 class="mt-2 informationGroupTitle">Orzeczenia i opinie:</h5>
    <textarea class="form-control" id="decisionTextArea" rows="2" readonly>{{ details.decision }}</textarea>
    <h5 class="mt-2 informationGroupTitle">Choroby i alergie:</h5>
    <textarea class="form-control" id="diseasesTextArea" rows="2" readonly>{{ details.diseases }}</textarea>
    <h5 class="mt-2 informationGroupTitle">Uwagi:</h5>
    <textarea class="form-control" id="disciplinaryNotesTextArea" rows="2" readonly>{{ details.disciplinaryNotes }}</textarea>

</div>