.informationGroupTitle {
    font-size: 1.2rem;
    font-weight: bold;
}

.informationData {
    font-weight: bold;
}

.sectionDataTitle {
    text-align: center;
    font: 2rem bold;
    margin: 1rem;
}

#gradesTable a {
    text-decoration: none;
    color: inherit;
}


th {
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
}

th:first-child {
    border-left: 1px solid #dddddd;
}

table thead tr:nth-child(2) th {
    border-top: none;
}

.dataTables_filter {
    margin-bottom: 5px;
}
